<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebApp</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="page-wrapper row">
    <div class="navbar col-lg-3">
      <div class="container">
        <a class="navbar-brand">
          <svg class="navbar_logotype"></svg>
        </a>
      </div>
      <div class="line-nav-top"></div>
      <div class="navbar-list">
        <ul class="navbar-nav">
          <li class="navbar-item">
            <a class="all-products">Уся продукція</a>
          </li>
          <li class="navbar-item">
            <a class="all-transactions">Усі угоди</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>