@font-face {
    font-family: "benzin-regular";
    src: url('../fonts/Benzin-Regular.ttf');
}

@font-face {
    font-family: "benzin-regular";
    src: url('/templates/fonts/font.woff2') format('woff2'),
    url('../fonts/font.woff') format('woff');
}

@font-face {
    font-family: "benzin-semibold";
    src: url('../fonts/Benzin-Semibold.ttf');
}

@font-face {
    font-family: "benzin-semibold";
    src: url('../fonts/fontSemibold.woff2') format('woff2'),
    url('../fonts/fontSemibold.woff') format('woff');
}

body {
    font-family: benzin-regular;
    box-sizing: border-box;
    width: auto;
}

.navbar {
    width: 256px;
    height: 100vh;
    background: #F8F7F6;
}

.container {
    height: calc(100vh - 48px);
    padding: 0 17px 0 21.5px;
}

.navbar-brand {
    width: 223px;
    height: 48px;
    background: #CCCCCC;
    border-radius: 32px;
}

.navbar > .container {
    align-items: flex-start;
    align-content: flex-start;
}

.nav-item{
    white-space: nowrap;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #303030;
    padding: 10px 20px 6px 56px;
    margin-left: 4px;
    width: 215px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #F8F7F6;
    transition: 0.15s;
    position: relative;
}

.nav-item:hover {
    font-family: benzin-semibold;
    text-decoration: none;
    font-weight: 600;
    background: #F0EFEC;
    box-shadow: 0 0 0 4px #F0EFEC;
}

.nav-item.active {
    font-family: benzin-semibold;
    text-decoration: none;
    font-weight: 600;
    background: #FFF066;
    box-shadow: 0 0 0 2.5px #F8F7F6,
    0 0 0 4px #303030;
}

.hidden {
    display: none;
}

.nav-item-all-products:before {
    content: '';
    background: url("../images/honey.svg") 0 0 no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.nav-item-all-transactions {
    margin-top: 23px;
}

.nav-item-all-transactions:before {
    content: '';
    background: url("../images/file.svg") 0 0 no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.line-nav-top {
    width: 224px;
    height: 1px;
    left: 16px;
    top: 10px;
    background: #CCCCCC;
    margin: 24px 0 32px 0;
}

.footer-text {
    margin-left: 4px;
    margin-top: 75vh;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #808080;
}

.main {
    padding: 0;
    margin-left: 32px;
    flex: 1;
}

.flex-header {
    display: flex;
    height: 56px;
    margin: 0;
}

h1 {
    width: 193px;
    height: 30px;
    margin-top: 26px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #151515;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #808080;
    margin-top: 8px;
}

.add-transaction {
    width: 240px;
    height: 56px;
    background: #FFF066;
    border: 0;
    border-radius: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #303030;
    white-space: nowrap;
    padding: 18px 84px 14px 48px;
    position: relative;
    margin: 24px -32px 0 687px;
}

.add-transaction:after {
    content: '';
    background: url("../images/add.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    left: 172px;
}

.frame-content {
    width: 1120px;
    height: 772px;
    border: 1.5px solid #303030;
    border-radius: 40px;
    padding: 32px;
}

h2 {
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #303030;
}

.analysis-h2 {
    width: 136px;
    height: 24px;
    margin: 0 952px 0 0;
    padding-left: 40px;
    padding-top: 2px;
    position: relative;
}

.analysis-h2:before {
    content: '';
    background: url("../images/home-smile.svg");
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
}

.flex-container .box{
    margin-top: 16px;
    width: 208px;
    height: 84px;
    background: #F8F7F6;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #303030;
}

.box-title-link-container {
    display: flex;
}

.flexbox-title {
    width: 144px;
    height: 24px;
    display: inline-block;
    margin: 16px 0 0 16px;
    padding-top: 2px;
    position: relative;
}

.img-link {
    width: 24px;
    height: 24px;
    background: #303030;
    border-radius: 50px;
    margin: 16px 16px 0 8px;
    position: relative;
}

.data {
    font-size: 16px;
    max-width: 160px;
    width: auto;
    height: 24px;
    display: inline-block;
    margin: 4px 4px 16px 16px;
}

.prefix {
    display: inline-block;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #303030;
}

.img-link-clients:before {
    content: '';
    background: url("../images/user.svg") 0 0 no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.img-link-honey:before {
    content: '';
    background: url("../images/honey-white.svg") 0 0 no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.img-link-purchase:before {
    content: '';
    background: url("../images/arrow-circle-down-left.svg") 0 0 no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.img-link-sale:before {
    content: '';
    background: url("../images/arrow-circle-up-right.svg") 0 0 no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.img-link-money:before {
    content: '';
    background: url("../images/currency-dollar-circle.svg") 0 0 no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.all-products-h2 {
    width: 191px;
    height: 24px;
    margin: 0 0 0 0;
    padding-left: 40px;
    padding-top: 2px;
    white-space: nowrap;
    position: relative;
}

.all-products-h2:before {
    content: '';
    background: url("../images/honey24pix.svg") 0 0 no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.counter {
    min-width: 27px;
    width: auto;
    height: 24px;
    background: #FFF066;
    border-radius: 16px;
    padding: 2px 8px 0 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #303030;
}

.all-products-counter-container {
    display: flex;
    margin-top: 40px;
}

.all-products-info-table {
    width: 1056px;
}

.table-header th {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #808080;
    padding-top: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #CCCCCC;
    white-space: nowrap;
}

.number {
    padding-left: 2px;
    width: 16px;
    padding-right: 38px;
}

.tbl-prod-name {
    width: 68px;
    padding-right: 178px;
    padding-left: 0;
}

.price-per-kilo {
    width: 114px;
    padding-right: 128px;
    padding-left: 0;
}

.value {
    width: 47px;
    padding-right: 183px;
    padding-left: 0;
}

.total-price {
    width: 68px;
    padding-right: 72px;
    padding-left: 0;
}

.more {
    width: 151px;
    padding-right: 0;
    text-align: right;
}

.table-scroll-body {
    width: 1072px;
    height: 475px;
    overflow-y: scroll;
}

.table-scroll-body::-webkit-scrollbar {
    width: 8px;
    margin-left: 8px;
}

.table-scroll-body::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 16px;
}

.table-body {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #303030;
}

td {
    padding-top: 30px;
    padding-bottom: 26px;
    border-bottom: 1px solid #F8F7F6;
}

.tbody-num {
    width: 40px;
    padding-left: 0;
    padding-right: 0;
}

.text-cell {
    font-size: 12px;
    font-weight: 600;
    padding-left: 8px;
    width: 236px;
}

.tbody-price-per-kilo {
    padding-left: 8px;
    width: 236px;
}

.tbody-value {
    width: 236px;
    padding-left: 8px;
}

.tbody-total-price {
    width: 236px;
    padding-left: 8px;
}

/*all-transactions-tab*/



